extends layout

block header
  script(src='/javascripts/libs/jquery.js',type='text/javascript')
  script(src='/javascripts/index.js',type='text/javascript')

block content
  h1= title
  p Welcome to #{title}
  input(type='text',id='txtName',placeholder='请输入用户名')
  button(id='clickMe') 查
  button(id='clickMe2') 增
  button(id='clickMe3') 删
  button(id='clickM4') 改

  ul(id='userList')

  script(type='text/javascript').
    Index.init();